{% load static %}
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/civil.css' %}">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<body>
<!--startprint-->
<div>
    <h3 style="text-align: center">律师事务所函</h3>
</div>
<div class="container">
    {% if all_data %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                    <div class="letter">[ {{ all_data.enter_date|date:"Y" }} ] 第  {{ all_data.id }}  号</div>
                <div class="row">
                    <div class="col-md-12">
                        <u>{{ all_data.court }}：</u>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 tab" style="line-height: 2">本所接受<u class="u">{{ all_data.name }}</u>的委托，指派<u class="u">{{ all_data.user }}</u>律师，担任你院办理的<u class="u">
                        {{ all_data.case }}</u>案件<u class="u">{{ all_data.case_name }}</u>的诉讼代理人。
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11" style="line-height: 10">特此函告!</div>
                </div>
                <div style="line-height: 3;text-align: right" >
                    <p>（律师事务所章）</p>
                    <p style="letter-spacing: 27px">年月日</p>
                </div>
                <p>附：授权委托书一份</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    {% endif %}
</div>
<!--endprint-->
</body>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <button onclick="dayin()" type="button" class="btn btn-success col-md-4">打 印</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dayin();
    });
    function dayin() {
        bdhtml = window.document.body.innerHTML;//获取当前页的html代码
        sprnstr = "<!--startprint-->";//设置打印开始区域
        eprnstr = "<!--endprint-->";//设置打印结束区域
        prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 26); //从开始代码向后取html
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
        window.document.body.innerHTML = prnhtml;
        window.print();
    }
</script>