{% load static %}
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{% static 'css/civil.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->


<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>


<body>
<!--startprint-->
<div>
    <h1 class="h">授 权 委 托 书</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="tab" style="margin-top: 50px;line-height: 2">委托人<u class="u">{{ all_data.name }}</u>
                根据法律规定，特聘请辽宁祥子律师事务所<u class="u">{{ all_data.user }}</u>为
                案件<u class="u">
                    {% if all_data.Trial_level == '1' %}
                        一
                    {% else %}
                        二
                    {% endif %}
                </u>
                的诉讼代理人。</p>

            <p>委托律师代理权限：</p>

            {% if  all_data.agent_power %}<p style="margin-left: 36px; line-height: 2"><u>{{ all_data.agent_power }}</u></p>{% else %}<p style="margin-left: 36px; line-height: 2"><u></u></p>{% endif %}

            <p class="tab">本委托书有效期自双方签订日起至<u class="u">{% if all_data.Trial_level == '1' %}
                一
            {% else %}
                二
            {% endif %}</u>止。</p>

            <div class="civil_left" style="margin-top: 150px;">
                <p style="letter-spacing: 6px;">委托人：</p>

                <p>律师电话：</p>

                <p class="dates">年月日</p>
            </div>
            <p>&nbsp;</p>

            <p style="text-indent: 2em;line-height: 2">注：本委托书一式三份，由委托人、律师事务所各持一份，交人民法院一份；如委托人终止委托事项，代理费不予退回；如受委托人终止委托事项，代理费全部退回</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--endprint-->
</body>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <button onclick="dayin()" type="button" class="btn btn-success col-md-4">打 印</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        dayin();
    });
    function dayin() {
        bdhtml = window.document.body.innerHTML;//获取当前页的html代码
        sprnstr = "<!--startprint-->";//设置打印开始区域
        eprnstr = "<!--endprint-->";//设置打印结束区域
        prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 26); //从开始代码向后取html
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
        window.document.body.innerHTML = prnhtml;
        window.print();
    }
</script>