*{
    font-family: 宋体!important;
    font-size: 26px;
}

.civil_left {
    margin-left: 350px;
}

.tab{
    text-indent: 2em;
}

.u {
    padding-left: 15px;
    padding-right: 15px;
}

.dates {
    text-indent: 3em;
    letter-spacing: 35px;
}


.legal {
    margin-left: 400px;
    margin-top: 80px;
}

.letter{
    text-align: right;
    line-height: 5;
}


/*代理页*/

.word{
    font-weight: bold;
}